<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bluetooth_DotMetrix.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Bluetooth_DotMetrix.Settings1>
            <setting name="CurrentCOM" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="isSendTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSendDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSendNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zone" serializeAs="String">
                <value>KTN01</value>
            </setting>
            <setting name="state" serializeAs="String">
                <value>Kelantan</value>
            </setting>
            <setting name="waktuSolatHari" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="waktuSolatBulan" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="waktusolatTahun" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="lokasiZone" serializeAs="String">
                <value>Kota Bharu</value>
            </setting>
        </Bluetooth_DotMetrix.Settings1>
    </userSettings>
</configuration>
